body {
  width: 600px;
  padding: 20px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #ffffff;
  background-color: #2e3244;
}
button {
  border-radius: 8px;
  background-color: #826d62;
  color: #ffffff;
}
